<div class = "page-header">
  <h1>
    <a href = "/">Media Ranker</a>
    <small>Ranking the Best of Everything</small>
  </h1>
</div>

<table>
  <tr>
    <th>Ranking</th>
    <th>Name</th>
    <th>Upvote</th>
  </tr>

  <% @movies.each do |m| %>
    <tr>
      <td><%= "Ranked: #{ m.movie_ranking }" %></td>
      <td><%= m.name %></td>
      <td><%= link_to "Upvote", movie_path(m.id) %></td>
    </tr>
  <% end %>
</table>

<%= link_to "View all Media", root_path %>
<%= link_to "Add a Movie", new_movie_path %>
