<div class = "page-header">
  <h1>
    <a href = "/">Media Ranker</a>
    <small>Ranking the Best of Everything</small>
  </h1>
</div>

<table>
  <tr>
    <th>Ranking</th>
    <th>Name</th>
    <th>Upvote</th>
  </tr>

  <% @books.each do |b| %>
    <tr>
      <td><%= "Ranked: #{ b.book_ranking }" %></td>
      <td><%= b.name %></td>
      <td><%= link_to "Upvote", book_path(b.id) %></td>
    </tr>
  <% end %>
</table>

<%= link_to "View all Media", root_path %>
<%= link_to "Add a Book", new_book_path %>
