<h1>Book#show</h1>

<h3><%= @book.name %></h3>
<h4>Written by: <%= @book.author %></h4>
<p><%= @book.book_ranking %></p>
<p><%= @book.description %></p>

<%= link_to "Upvote", action: :upvote, id: @book.id %>
<p></p>
<%= link_to "Edit #{ @book.name }", edit_book_path %>
<%= link_to "DELETE", book_path, method: :delete %>

<%= link_to "View all books", books_path %>
<%= link_to "View all media", root_path %>
