<main>
  <title class="row">
    <h3>
      <%= @book.name %>
      <small>Written by: <%= @book.author %></small>
    </h3>
  </title>
  <h4 class="row">
    <%= @book.ranking %>
  </h4>
  <div class="row">
    <p><%= @book.description %></p>
  </div>

  <div class="row">
    <%= button_to "Upvote", action: :upvote, id: @book.id %>
    <p></p>

    <%= link_to "Edit #{ @book.name }", edit_book_path %>
    <%= link_to "DELETE", book_path, method: :delete %>

    <%= link_to "View all books", books_path %>
    <%= link_to "View all media", root_path %>
  </div>
</main>
